<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<link rel="stylesheet" href="css/main.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
 <script type="text/javascript" src="js/vue.min.js"></script>
</head>
<body>
	
	<div id="menu">
		<ul>
			<li><a href="#top" class="cur">回到顶部</a></li>
			<li><a style="background: skyblue;" href="#jueqizhilu">祝福祖国</a></li>
			<li><a href="#guoji">国际</a></li>
			<li><a href="#jingji">经济</a></li>
			<li><a href="#keji">科技</a></li>
			<li><a href="#junshi">军事</a></li>
			<li><a href="#tiyu">体育</a></li>
			
		</ul>
	</div>
	

<!--header-->
<div id='top' class="header">
  <h1>泱泱大国   辉煌成就</h1>
</div>

<!--daohanglang-->
<div class="topnav">
  <a href="index.html" style="color: #FFFF00;">首页</a>
  <a href="#guoji">国际</a>
  <a href="#jingji">经济</a>
  <a href="#keji">科技</a>
  <a href="#junshi">军事</a>
  <a href="#tiyu">体育</a>
  <a href="#jueqizhilu" style="float: right;color: yellow;">崛起之路</a>
</div>

<!--wenzhanglang-->
<div class="row">
	
  <div class="leftcolumn">  
	  
    <div class="card">
	 <h2><a href="politicaldetails.html#yidaiyilu">“一带一路”合作共赢</a></h2>
	 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2013年下半年，习近平主席提出“一带一路”倡议，至今已有五年。在这五年中，“一带一路”建设由点及面，在发展中不断前进、在合作中茁壮成长。“‘一带一路’建设植根于丝绸之路的历史土壤，重点面向亚欧非大陆，同时向所有朋友开放。不论来自亚洲、欧洲，还是非洲、美洲，都是‘一带一路’建设国际合作的伙伴。”作为我国三大战略之一的“一带一路”建设已经驶入了加速推进的“快车道”，成为世界经济全面复苏的一股强大动力。</p> 
    </div>
	
    <div class="card">
      <h2><a href="economicdetails.html#gdp">中国GDP超10万亿美元，是日本GDP的2倍</a></h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新中国成立以来，尤其是改革开放以来，我国经济发展交出了亮丽的成绩单。从成立之初百废待兴，到如今经济总量位居世界第二；从百姓温饱不足，到进入世界中等收入国家行列；从物资短缺，到坐上全球货物贸易头把交椅……我国综合国力和国际影响力大大增强，百姓生活水平实现质的飞跃。
</p>
    </div>
	
	<div class="card">
	  <h2><a href="technologydetails-details.html#shenwei">神威·太湖之光计算机，计算能力世界第一</a></h2>
	  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年6月20日，在法兰克福世界超算大会上，国际TOP500组织发布的榜单显示，"神威·太湖之光"超级计算机系统登顶榜单之首， 不仅速度比第二名"天河二号"快出近两倍，其效率也提高3倍; 11月14日，在美国盐湖城公布的新一期TOP500榜单中，"神威·太湖之光"以较大的运算速度优势轻松蝉联冠军;11月18日，我国科研人员依托"神威·太湖之光"超级计算机的应用成果首次荣获"戈登·贝尔"奖，实现了我国高性能计算应用成果在该奖项上零的突破。</p>
	</div>
	
</div>

  
  <div class="rightcolumn">
	  
    <div class="card">	
      <h2><a href="http://leaders.people.com.cn/GB/218481/426300/">建国70周年庆——人民网</a></h2>
	  <div class="fakeimg"><a href="http://leaders.people.com.cn/GB/218481/426300/"><img src="image/renmingwang.png" alt="" /></a></div>
	  <p>跨越70年，中国的故事</p>
	  <p>庆祝中华人民共和国成立70周年</p>
    </div>
	
     <div class="card">
		  <h1>展望未来</h1>
		  <!-- <h1><a href="">2020年全面建成小康社会</a></h1> -->
		  <h3>2020年全面建成小康社会</h3>
		  <!-- <h1><a href="">2021年建党100周年</a></h1> -->
		  <h3>2021年建党100周年</h3>
          <!-- <h1><a href="">2022年北京冬奥会</a></h1> -->
		   <h3>2022年北京冬奥会</h3>
     </div> 
	
  </div>
  
</div>

<!--------------------------------------------------------->

<div class="row">
	
<!--tupianlang-->
<div class="leftcolumn">
<div id='jueqizhilu' class="fenge-lunbo">
  <h3>大国崛起</h3>
  
  <div class="shipin">
       
	   <video src="mp4/shipin.mp4" controls="controls" style="width: 600px;height: 500px;" preload>
        您的浏览器不支持 video 标签。
       </video>
	
   </div>
 
</div>
</div>


<div class="rightcolumn">
	
     <div class="card">
		  <!-- <a href="javascript:void(0)"><h2>崛起之路</h2></a> -->
		  <h2>崛起之路</h2>
		  <div class="fakeimg"><img src="image/jueqzhilu.png" alt="" /></div>
		  <p>不辞艰险出夔门，救国图强一片心</p>
          <p>莫谓东方皆落后，亚洲崛起有黄人</p>
		  
		  
		  <div id="app" class="pinlunkuang">
			  
		  	<div class="biaoti">
		  		<h2>留言墙</h2>
		  	</div>
			
			<div class="show">
				
			
				<div  class="wenzi" v-for="pinlun in pinluns">
			
						{{pinlun.fr}}：{{pinlun.wz}}
					
				</div>
			
			</div>
			
		<div class="shuru">
				
			
			<select style="height: 21px;vertical-align: bottom;" v-model="pinlunAdd.fr">
				 <option selected="selected">广西壮族自治区</option>
				 <option>四川省</option>
				 <option>河南省</option>
				 <option>河北省</option>
				 <option>湖南省</option>
				 <option>湖北省</option>
				 <option>广东省</option>
            </select>
			<input  style="width: 110px;vertical-align: bottom;" type="text" placeholder="留言祝福祖国吧"  v-model="pinlunAdd.wz"  />
			<button type="button" v-on:click="add">发送</button>
			
		</div>
			
		  </div>
			  
		  
		  
		  
		  <!-- <h2>建国前</h2>
		  <p>落后从来多患难，当思盛世护和平</p>
		  <h2>建国初</h2>
		  <p>艰苦奋斗，勇于开拓，顾全大局，无私奉献</p>
		  <h2>建国70周年</h2>
		  <p>光辉历程世瞩目，神州大地遍地花。</p> -->
     </div> 
	
  </div>

</div>

<!--------------------------------------------------------------------->
<div id="content">
<!--chengjiulang-->
<div id='guoji' class="fenge">
   <a href="politicaldetails.html"><h2>国际成就</h2></a>
   <div class="chengjiu">
       <a href="politicaldetails.html#yidaiyilu"><img src="image/guoji-yidaiyilu.jpg"  style="margin-top: 10px;" /></a>
	   <div class="wenzi">
		  <a href="politicaldetails.html#yidaiyilu">一带一路，实现共同繁荣的合作共赢之路</a><br><br>
		  <a href="politicaldetails-details.html#yazhou">亚洲投行，由中国主导，打破垄断</a><br><br>
		  <a href="politicaldetails-details.html#lianheguo">联合国常任理事国，一票否决</a>
	   </div>
   </div>
   
   <div class="chengjiu">
	   <a href="politicaldetails-details.html#dongmeng"><img src="image/guoji-dongmeng.jpg" style="margin-top: 10px;" /></a>
	   <div class="wenzi">
	   		  <a href="politicaldetails-details.html#dongmeng">东盟+3，中国与东盟的对话窗口</a><br><br>
	   		  <a href="politicaldetails-details.html#quyu">区域全面经济伙伴关系协定,中国版TPP</a><br><br>
	   		  <a href="politicaldetails-details.html#gangao">港澳回归，一雪百年耻辱</a>
	   </div>
   </div>
   
   <div class="chengjiu">
	   <a href="politicaldetails-details.html#g20fenhui"><img src="image/guoji-g20fenghui.png" style="margin-top: 10px;" /></a>
	   <div class="wenzi">
	   		  <a href="politicaldetails-details.html#g20fenhui">杭州G20峰会，促进世界经济可持续发展</a><br><br>
	   		  <a href="politicaldetails-details.html#shanghe">上合组织，亚洲版的小北约</a><br><br>
	   		  <a href="politicaldetails-details.html#feizhou">非洲论坛，中国开拓非洲的急先锋</a>
	   </div>
   </div>
   
</div>


<div id='jingji' class="fenge">
   <a href="economicdetails.html"><h2>经济成就</h2></a>
   
   <div class="chengjiu">
      <a href="economicdetails-details.html#gaosugonglu"><img src="image/jingji-gongsugonglu.png" style="margin-top: 10px;" /></a>
      <div class="wenzi">
      		  <a href="economicdetails-details.html#gaosugonglu">中国高速公路12万公里，世界第一</a><br><br>
      		  <a href="economicdetails-details.html#zhongguogaotie">高铁2万公里，占世界6成</a><br><br>
      		  <a href="economicdetails-details.html#gangtiedaguo">钢铁产量，世界16亿吨，中国占8亿吨</a>
      </div>
   </div>
   
   <div class="chengjiu">
      <a href="economicdetails.html#gdp"><img src="image/jingji-GDP.png" style="margin-top: 10px;" /></a>
      <div class="wenzi">
      		  <a href="economicdetails.html#gdp">中国GDP超10万亿美元，是日本GDP的2倍</a><br><br>
      		  <a href="economicdetails-details.html#gangzhuaodaqiao">有六个世界之最的港珠澳跨海大桥</a><br><br>
      		  <a href="economicdetails-details.html#waihuichubei">外汇储备保持世界第一，中国不断减持美元</a>
      </div> 
   </div>
   
   <div class="chengjiu">
      <a href="economicdetails-details.html#nanshuibeidiao"><img src="image/jingji-nanshuibeidiao.png" style="margin-top: 10px;" /></a>
      <div class="wenzi">
      		  <a href="economicdetails-details.html#nanshuibeidiao">南水北调,史无前例</a><br><br>
      		  <a href="economicdetails-details.html#sanxiadaba">世界第一的三峡大坝</a><br><br>
      		  <a href="economicdetails-details.html#xiqidongshu">西气东输，保护环境，扫除雾霾</a>
      </div>
   </div>
   
</div>


<div id='keji' class="fenge">
    <a href="technologydetails.html"><h2>科技成就</h2></a>
   <div class="chengjiu">
      <a href="technologydetails-details.html#shenwei"><img src="image/keji-shenwei.png" style="margin-top: 10px;" /></a>
      <div class="wenzi">
      		  <a href="technologydetails-details.html#shenwei">神威·太湖之光计算机，计算能力世界第一</a><br><br>
      		  <a href="technologydetails-details.html#beidou">北斗卫星，世界排名第二位</a><br><br>
      		  <a href="technologydetails-details.html#tianhe">天河二号计算机，曾经的第一，现在的第二</a>
      </div>
   </div>
   
   <div class="chengjiu">
      <a href="technologydetails-details.html#tiangong"><img src="image/keji-tiangong3.png" style="margin-top: 10px;" /></a>
      <div class="wenzi">
      		  <a href="technologydetails-details.html#tiangong">天宫二号空间实验室</a><br><br>
      		  <a href="technologydetails-details.html#shenzhou">神舟飞船系列</a><br><br>
      		  <a href="technologydetails-details.html#hexie">和谐号、复兴号</a>
      </div>
   </div>
   
   <div class="chengjiu">
      <a href="technologydetails.html#tianyan"><img src="image/keji-zhongguotianyan.png" style="margin-top: 10px;" /></a>
      <div class="wenzi">
      		  <a href="technologydetails.html#tianyan">中国天眼，世界最大的望远镜</a><br><br>
      		  <a href="technologydetails-details.html#changzheng">长征系列火箭</a><br><br>
      		  <a href="technologydetails-details.html#liangdan">两弹一星，国之重器</a>
      </div>
   </div>
   
</div>


<div id='junshi' class="fenge">
   <a href="militarydetail.html"><h2>军事成就</h2></a>
   <div class="chengjiu">
      <a href="militarydetail-details.html#sidai"><img src="image/junshi-jianjiji.png" style="margin-top: 10px;" /></a>
       <div class="wenzi">
      		  <a href="militarydetail-details.html#sidai">四代重歼，世界第二个能造四代重歼的国家</a><br><br>
      		  <a href="militarydetail-details.html#shendun">中华神盾，数量占世界第二</a><br><br>
      		  <a href="militarydetail-details.html#zhanlue">战略核潜艇，和平捍卫者</a>
      </div>
   </div>
   
   <div class="chengjiu">
       <a href="militarydetail-details.html#dongfeng"><img src="image/junshi-dongfeng41.png" style="margin-top: 10px;" /></a>
      <div class="wenzi">
      		  <a href="militarydetail-details.html#dongfeng">东风41，中俄才有的陆上机动式洲际导弹</a><br><br>
      		  <a href="militarydetail-details.html#jiaolong">蛟龙600，世界最大的水陆两用飞机</a><br><br>
      		  <a href="militarydetail-details.html#heping">和平方舟，世界唯一的专用医院舰</a>
      </div>
   </div>
   
   <div class="chengjiu">
       <a href="militarydetail.html#hangmu"><img src="image/junshi-liaoninghao.png" style="margin-top: 10px;" /></a>
       <div class="wenzi">
      		  <a href="militarydetail.html#hangmu">辽宁航母，大国霸权</a><br><br>
      		  <a href="militarydetail-details.html#jidong">机动登陆平台舰</a><br><br>
      		  <a href="militarydetail-details.html#hangmu">自造航母001a，百年梦想终成真</a>
      </div>
   </div>
   
</div>


<div id='tiyu' class="fenge">
   <a href="sportsdetails.html"><h2>体育成就</h2></a>
   <div class="chengjiu">
       <a href="sportsdetails.html#beijing"><img src="image/tiyu-aoyun.jpg" style="margin-top: 10px;" /></a>
       <div class="wenzi">
      		  <a href="sportsdetails.html#beijing">北京奥运，世界最好的奥运会</a><br><br>
      		  <a href="sportsdetails-details.html#lina">李娜-网球大满贯亚洲第一人</a><br><br>
      		  <a href="sportsdetails-details.html#subingtian">亚洲飞人苏炳添</a>
       </div>
   </div>
   
   <div class="chengjiu">
       <a href="sportsdetails-details.html#pingpang"><img src="image/tiyu-pingpan.png" style="margin-top: 10px;" /></a>
       <div class="wenzi">
		      <a href="sportsdetails-details.html#pingpang">中国横扫世界乒坛</a><br><br>
      		  <a href="sportsdetails-details.html#liuxiang">飞人-刘翔</a><br><br>
      		  <a href="sportsdetails-details.html#sunyang">自由泳史上第一人-孙杨</a>
       </div>
   </div>
   
   <div class="chengjiu">
       <a href="sportsdetails-details.html#tiaoshui"><img src="image/tiyu-tiaoshui.png" style="margin-top: 10px;" /></a>
       <div class="wenzi">
      		  <a href="sportsdetails-details.html#tiaoshui">跳水中国队的金牌第一的超级梦之队</a><br><br>
      		  <a href="sportsdetails-details.html#yaoming">篮球出现突破——姚明出现了</a><br><br>
      		  <a href="sportsdetails-details.html#nvpai">中国女排两夺世界冠军，夺得里约奥运金牌</a>
      </div>
   </div>
   
</div>
</div>



<!--footer-->
<div class="footer">
  <h5> <a href="politicaldetails.html">国际</a> | <a href="economicdetails.html">经济</a> | <a href="technologydetails.html">科技</a> | <a href="militarydetail.html">军事</a> | <a href="sportsdetails.html">体育</a> | <a href="index.html#jueqizhilu">崛起之路</a></h5>
  <h5>GXUWZ | Computer Science and Technology - Feng Xiao</h5>
</div>

 
 
 
 <script type="text/javascript">
 	//Model
 	var data = {
 	    pinluns: [
 	    { id: 1, fr: '广西壮族自治区', wz: '祖国强大！！'},
 	    { id: 2, fr: '四川省', wz: '我爱祖国！！'},
		 { id: 1, fr: '云南省', wz: '建国70周年快乐！'},
		{ id: 2, fr: '山东省', wz: '愿祖国越来越强大！！'},
		 { id: 1, fr: '河北省', wz: '厉害了，我的国！！'},
		{ id: 2, fr: '新疆维吾尔自治区', wz: '祝福祖国！'},
		 { id: 1, fr: '黑龙江省', wz: '了不起，我的国！'},
		{ id: 2, fr: '吉林省', wz: '中国牛逼！！'},
		 { id: 1, fr: '辽宁省', wz: '我爱你，祖国！！'},
		{ id: 2, fr: '广西壮族自治区', wz: '厉害了，我的泱泱大国！'},
		 
 	    ],
 	    pinlunAdd: { id: 0, fr: '广西壮族自治区', wz: ''},
 	    pinlunUpdate: { id: 0, fr: '广西壮族自治区', wz: ''}
 	};
         
     //用于记录最大id值
     var maxId = 5;
     //计算最大值
     for (var i=0;i<data.pinluns.length;i++){
         if (data.pinluns[i].id > maxId)
             maxId=  this.pinluns[i].id;
     }   	
         
     //ViewModel
     var vue = new Vue({
         el: '#app',
         data: data,
         methods: {
             add: function (event) {
                 //获取最大id
                 maxId++;
                 //赋予新id
                 this.pinlunAdd.id = maxId;
                 if(this.pinlunAdd.wz.length==0)
                     this.pinlunAdd.wz = "我爱祖国！！";
                 //把对象加入到数组
                 this.pinluns.push(this.pinlunAdd);
                 //让 hero4Add 指向新的对象
                 this.pinlunAdd = { id: 0, fr: '广西壮族自治区', wz: ''}
             }
         }        
     });
     
 </script>
 
 
 
 
 <script src="js/main.js"></script>


</body>
</html>